RewriteEngine On
IndexIgnore *
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
ErrorDocument 404 /ErrorDocument/404.php

#CLIENT
RewriteRule ^home$ /index.php?act=home [L]
RewriteRule ^login$ /index.php?act=login [L]
RewriteRule ^register$ /public/auth/register.php [L]
RewriteRule ^orders$ /index.php?act=orders [L]
RewriteRule ^recharge$ /index.php?act=recharge [L]
RewriteRule ^support$ /index.php?act=support [L]

#MODUN
RewriteRule ^modun/login/post$ /controller/Login.php [L]
RewriteRule ^modun/buy/post$ /controller/Buy.php [L]
RewriteRule ^modun/checkLive/post$ /controller/checkLive.php [L]

#ADMIN
RewriteRule ^dgaAdmin/home$ /dgaAdmin/home.php [L]
RewriteRule ^dgaAdmin/category$ /dgaAdmin/category.php [L]
RewriteRule ^dgaAdmin/product$ /dgaAdmin/product.php [L]
RewriteRule ^dgaAdmin/arrange$ /dgaAdmin/arrange.php [L]
RewriteRule ^dgaAdmin/account$ /dgaAdmin/account.php [L]
RewriteRule ^dgaAdmin/setting$ /dgaAdmin/setting.php [L]

#
RewriteRule ^dgaAdmin/models/arrangeFather$ /controller/dgaAdmin/arrangeFather.php [L]
RewriteRule ^dgaAdmin/models/arrangeChildren$ /controller/dgaAdmin/arrangeChildren.php [L]
RewriteRule ^dgaAdmin/models/arrangeProducts$ /controller/dgaAdmin/arrangeProducts.php [L]
RewriteRule ^dgaAdmin/models/addCategory$ /controller/dgaAdmin/addCategory.php [L]
RewriteRule ^dgaAdmin/models/addProduct$ /controller/dgaAdmin/addProduct.php [L]
RewriteRule ^dgaAdmin/models/removeProduct$ /controller/dgaAdmin/removeProduct.php [L]
RewriteRule ^dgaAdmin/models/addAccount$ /controller/dgaAdmin/addAccount.php [L]